
/*Base font definition*/
html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  }

 body {
   line-height: 1.4;
 }

/*Header container style*/
.header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 64px;
  justify-content: center;
}

/*Heder desktop container*/
.desktop {
  display: flex;
  width: 1300px;
  background-color: white;
  justify-content: space-between;
  border: 1px solid;
}

/* Logo and text colmar text container */
.logotext {
  display: inline-flex;
  align-items: center;
}

/*Header logo*/
.logo {
  height: 32px;
  width: auto;
  margin-left: 24px;
}

/*Colmar header text*/
.colmar {
  font-size: 1.25rem;
  font-weight: 700;
  color: #4a4a4a;
  font-family: 'Roboto';
}

/*Academy header text*/
.academy {
  font-size: 1.25rem;
  font-weight: 400;
  color: #4a4a4a;
  font-family: 'Roboto';
}


/*Menu text in header hidden for large screens*/
.mobile {
  display: none;
}

/* Header navigation for span items */
.nav {
  display: inline-flex;
  align-items: center;
  /*height: 64px;
  width: auto;*/
  margin-right: 8px;
}

nav span {
  margin-right: 16px;
}

/* Menu text definition*/
nav a {
  color: #4a4a4a;
  font-size: 1.125rem;
  font-weight: 600;
}

/*Header Menu Animation*/
nav a:hover {
  text-decoration: underline;
  transition-property: text-decoration 0.5s linear 300ms;
}


/*Header for smaller screens*/

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .logotext {
    display: none;
  }

  header .mobile {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    border: 1px solid;
  }


  header .mobile ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 64px;
    align-items: center;
    list-style-type: none;
  }
}

/*Webpage definition*/
.page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

/* Main webpage content defined for 1300px width*/
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1300px;
    height: auto;
    padding-top: 63px;
    border: 1px solid;
  }

  /* Start-banner section container*/

  /* Banner Start Section */
  .start-section {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #cacaca;
  }

  /*Banner image*/
  .start-img {
    display: flex;
    width: 60%;
    margin: 32px 24px;
    overflow: hidden;
    height: 510px;
  }

  .start-img .banner {
    display: block;
    max-width: 100%;
    height: auto;
  }

  /*Banner text container*/
  .start-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    height: auto;
    margin: 32px 0;
  }

  .start-header {
    display: flex;
    align-items: flex-start;
    width: 80%;
  }

  .start-text {
    display: flex;
    align-items: flex-start;
    width: 80%;
  }

  /* Banner header text style*/
  .rubik {
    font-family: "Rubik", serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    color: #4a4a4a;
  }

  /* banner text style*/
  .damion {
    font-family: "Damion";
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 500;
    color: #4a4a4a;
    margin: 2.5rem 0;
  }

  .start-button {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .start-button .button {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    color: white;
    padding: 8px 0;
    background-color: #4a4a4a;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.4;
  }

  .start-button .button:hover {
    background-color: blue;
    transition-property: background-color 0.5s linear 300ms;
  }

  /* Banner definition for smaller screen*/
  @media only screen and (max-width: 760px) {
    .start-section {
      flex-direction: column;
      width: 100%;
    }

    .start-img {
      display: flex;
      width: 100%;
      height: 310px;
      margin: 0 2px;
    }

    .start-img .banner {
      height: 310px;
      width: 100%;
    }

    .start-content {
      width: 100%;
      height: auto;
      margin: 32px 0;
    }

    .start-header {
      width: 100%;
    }

    .start-text {
    width: 100%;
    }

    .rubik {
      font-size: 1.7rem;
      line-height: 1.2;
      margin: 0 16px;
    }

    .damion {
      font-size: 1.3rem;
      margin: 32px 16px 24px 16px;
      line-height: 1.2;
    }

    .start-button {
      width: 100%;
    }

    .start-button .button {
      font-size: 1rem;
      margin: 0 16px;
    }
}

/*Information section container*/

/* Information container definition*/
.info-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  height: auto;
}

/* Main info container*/
.main-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  margin: 32px 24px;
  height: auto;
  overflow: hidden;
}

.info-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.info-header {
  display: flex;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #4a4a4a;
  margin: 32px 24px 0 0;
}


.info-text {
  display: flex;
  align-items: center;
  max-width: 100%;
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 500;
  color: #4a4a4a;
  margin: 24px 0 0 0;
}

/* Information subsection containers*/
.info-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: auto;
  margin: 16px 0px;
}

/* Individual subsection info containers*/
.sub1,
.sub2,
.sub3 {
  display: inline-flex;
  justify-content: flex-start;
  max-width: 100%;
  height: auto;
  background-color: white;
  padding-left: 16px;
  overflow: hidden;
  border: 1px solid;
  border-radius: 10px;
}

/*Light grey background color definition for sub info 3 container*/
.sub3 {
  background-color: #cacaca;
}

.sub1-img-box,
.sub2-img-box,
.sub3-img-box {
  display: flex;
  align-items: flex-start;
  width: 35%;
  height: auto;
  overflow: hidden;
}

.sub1-img,
.sub2-img,
.sub3-img {
  display: block;
  max-width: 100%;
  margin: 16px 0;
  height: auto;
}

.sub1-img-mob,
.sub2-img-mob,
.sub3-img-mob {
  display: none;
}

/* Individual subsection text containers*/
.sub1-content,
.sub2-content,
.sub3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  height: auto;
  margin: 0 16px;
}

.sub1-header,
.sub2-header,
.sub3-header {
  display: flex;
  max-width: 100%;
}

.sub1-text
.sub2-text,
.sub3-text {
  display: flex;
  max-width: 100%;
}

.sub1-nav,
.sub2-nav,
.sub3-nav {
  display: flex;
  max-width: 100%;
}

.sub-head {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #4a4a4a;
  line-height: 1.4;
  margin: 8px 0;
}

.sub-text {
  font-family: "Roboto", sans-serif;
  /*font-size: 20px;*/
  font-weight: 400;
  color: #4a4a4a;
  margin: 8px 0;
  line-height: 1.4;
}

.sub-nav {
  font-family: "Roboto", sans-serif;
  /*font-size: 20px;*/
  font-weight: 400;
  color: blue;
  margin: 8px 0;
  line-height: 1.4;
}

/* Information "Read more" text animation*/
.sub-nav:hover {
  text-decoration: underline;
  transition-property: text-decoration 0.5s linear 300ms;
  font-weight: bold;
  transition-property: font-weight 0.5s linear 300ms;
}

/*Information container definition for smaller screens*/
@media only screen and (max-width: 690px) {

  /*Main information image and text non-display definition*/
  .main-info {
    display: none;
  }

  /* Remaining information subsection container definition*/
  .info-sub {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    margin-top: 16px;
  }

  .sub1,
  .sub2,
  .sub3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: white;
    overflow: hidden;
    padding: 0;
    border: 0;
  }

  .sub1-img,
  .sub2-img,
  .sub3-img {
    display: none;
  }

  .sub1-img-box,
  .sub2-img-box,
  .sub3-img-box {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
  }

  .sub1-img-mob,
  .sub2-img-mob,
  .sub3-img-mob {
    display: block;
    max-width: 100%;
    margin: 0 16px;
    height: auto;
  }

  .sub1-content,
  .sub2-content,
  .sub3-content {
    width: 90%;
    margin: 0;
    margin-bottom: 64px;
  }

.sub-head {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #4a4a4a;
  line-height: 1.4;
  margin: 16px 32px 8px;
}

.sub-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #4a4a4a;
  margin: 0 0 0 32px;
  line-height: 1.2;
  }

.sub-nav {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: blue;
  margin: 8px 0 0 32px;
  line-height: 1.2;
  }

}

/* Courses section container*/

/* Main Courses container*/
.course-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  background-color: #cacaca;
  padding-bottom: 16px;
}

/* Course and Thesis header container*/
.course-header,
.thesis-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Header style*/
.head-style {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #4a4a4a;
  line-height: 1.4;
  margin: 32px 0 16px 0;
}

/* Course content container*/
.course-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  padding: 0 56px;
}

/*Individual course box container*/
.course-box {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 16px;
  background-color: white;
}

/*Individual course image*/
.box-img {
  display: flex;
  max-width: 100%;
}

/*Individual course text content*/
.box-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;
}

/* Individual course header*/
.h1-style {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  color: #4a4a4a;
  margin: 16px 16px 0 16px;
}

/*Individual course text style*/
.box-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #4a4a4a;
  margin: 8px 16px 0 16px;
}

/*Course container definition for smaller screens*/
@media only screen and (max-width: 690px) {

  /* Main course section*/
  .course-main {
    background-color: white;
    padding-bottom: 28px;
    margin: 0;
    width: 100%;
  }

  .course-content {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .course-box {
    width: 100%;
    margin: 4px 0;
  }

  .box-content {
    margin: 0;
  }

  .h1-style {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    color: #4a4a4a;
    background-color: #cacaca;
    padding: 16px 16px 24px 16px;
    margin: 0 16px;
  }

  /*Course images not displayed*/
  .box-img {
    display: none;
  }

  /*Course text not displayed*/
  .box-text {
    display: none;
    margin:0;
  }

}

/*Thesis Container*/

/* .thesis-header specified with .course-header css*/

/* Thesis container definition*/
.thesis-section {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

/* Thesis Content container*/
.thesis-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

/* Main thesis container*/
.main-thesis {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 60%;
  margin: 16px 24px 32px;
  height: auto;
}

.video {
  display: flex;
  width: 100%;
}

.h2-thesis {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #4a4a4a;
  margin: 16px 16px 0 0;
}

/*Sub thesis container definition*/
.thesis-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: auto;
  margin: 16px 0px 32px;
}

/* Light grey background definition for the 1st subsection container*/
.thesis-sub .sub1 {
  background-color: #cacaca;
}

/* Thesis container definition for smaller screens*/
@media only screen and (max-width: 690px) {

  .main-thesis {

    max-width: 100%;
    margin: 0;
    margin-bottom: 24px;
  }

  .h2-thesis {
    display: none;
  }

  .info-text {
    display: none;
  }

  .thesis-sub {
    display: none;
  }
}


/* Footer container*/
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.content {
  width: 1300px;
  display: inline-flex;
  font-size: .75rem;
  background-color: white;
  border: 1px solid;
  border-top: none;
}

.copyright {
  display: inline-flex;
  flex-grow: 1;
  padding: 16px 0 72px 24px;
  font-family: "Roboto";
  font-size: 0.75rem;
  font-weight: 400;
  color: color: #4a4a4a;;
}

.terms {
  display: inline-flex;
  flex-grow: 1;
  justify-content: flex-end;
  word-spacing: 16px;
  padding: 16px 24px 72px 0;
  font-family: "Roboto";
  font-size: 0.75rem;
  font-weight: 400;
  color: #4a4a4a;;
}

/* Footer container for smaller screens*/
@media only screen and (max-width: 760px) {
  .content {
    width: 100%;
    font-size: .625rem;
    padding: 0;
    margin: 0;
  }

  .copyright {
    font-size: 10px;
    padding: 16px 0 16px 16px;
  }

  .terms {
    display: none;
  }
}
