/* Universal Styles */


/*Base font definition*/
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  }


 body {
   /*line-height: 1.4;*/
 }

/*Header container style*/
.header {
  display: flex;
  width: 100%;
  height: 64px;
  align-items: center;
  flex-direction: column;
  flex: 1;
  color: #4a4a4a;
  font-family: 'Roboto';
}

/*Heder 960px site container*/
.desktop {
  display: flex;
  width: 100%;
  height: 64px;
  background-color: white;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: #4a4a4a;
  font-family: 'Roboto';
  /*margin-right: 24px; /* 8px = 24px-16px(defined in the nav span)*/
  /*margin-left: 24px;*/
}

/* Logo and text h5 container */
.logotext {
  display: inline-flex;
  align-items: center;
  height: 64px;
  width: auto;
  font-size: 18px;
}

/*White header logo*/
.logo {
  /*display: inline-flex;
  /*align-items: center;*/
  height: 32px;
  width: auto;
  margin-left: 24px;
}


/*header text*/
.colmar {
  font-size: 18px;
  font-weight: 700;
}


/*Menu text in header hidden for large screens*/
.mobile {
  display: none;
}

/* Header navigation for span items */
.nav {
  display: inline-flex;
  align-items: center;
  height: 64px;
  width: auto;
  margin-right: 8px;
}

nav span {
  margin-right: 16px;
}

nav a {
  color: #4a4a4a;
  font-size: 18px;
  font-weight: normal;
}


@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .logotext {
    display: none;
  }

  header .mobile {
    display: flex;
    /*flex-direction: row;*/
    width: 100%;
    /*height: 64px;
    align-items: center;*/
  }


  header .mobile ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 64px;
    align-items: center;
    list-style-type: none;
  }
}


  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
    /*top: 5.3125rem; /* To offset for fixed header. */
  }


  /* Start Section */

  .start-section {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: grey;
    /*background-image: url('../images/banner-landingpage.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;*/
  }

  .start-img {
    display: flex;
    width: 60%;
    margin: 32px 24px;
    /*height: 634px;
    /*padding: 0 5rem 2.5rem 5rem;
    border: solid 1px #979797;
    border-radius: 4px;*/
  }

  .start-img .banner {
    display: flex;
    width: 100%;
    height: 636px;
  }

  .start-content {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    width: 40%;
    height: auto;
    height: 636px;
    margin: 32px 0;
    /*padding: 0 5rem 2.5rem 5rem;
    border: solid 1px #979797;
    border-radius: 4px;
    background-color: #9dc20A;*/
  }

  .start-header {
    display: flex;
    width: 80%;

  }

  .start-text {
    display: flex;
    width: 80%;
  }

  .cursive {
    font-family: "Roboto", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    color: #4a4a4a;
  }

  .striking {
    font-family: "Roboto";
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #4a4a4a;
    margin: 48px 0;
  }

  .start-button {
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      width: 80%;
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
  }

  .start-button .button {
    padding: 8px auto;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 30px;
    line-height: 1.4;
  }

  @media only screen and (max-width: 760px) {
    .start-section {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
    }

    .start-img {
      display: flex;
      width: 100%;
      height: 300px;
      margin: 0 2px;
    }

    .start-img .banner {
      height: 300px;
    }

    .start-content {
      width: 100%;
      height: auto;
      margin: 32px 0;
    }

    .start-header {
      width: 100%;
    }

    .start-text {
    width: 100%;
    }

    .cursive {
      font-size: 36px;
      line-height: 1.4;
      margin: 0 16px;
    }

    .striking {
      font-size: 24px;
      margin: 32px 16px 24px 16px;
      line-height: 1.4;
    }

    .start-button {
      width: 91%;
      margin: 0 16px;
    }

    .start-button .button {
      /*display: flex;
      width: 100%;
      /*justify-content: center;
      align-items: center;*/
      font-size: 18px;
      padding: 10px 0;
    }
}

/* Information container*/
.info-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

/* Main info container*/
.main-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  margin: 32px 24px;
  height: auto;
}


.info-img {
  display: flex;
  width: 100%;
  /*height: 634px;
  /*padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;*/
}

.info-header {
  display: flex;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #4a4a4a;
  margin: 32px 24px 0 24px;
}


.info-text {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500;
  color: #4a4a4a;
  margin: 24px 24px 0 24px;
}


.info-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: auto;
  margin: 32px 0px;
  /*padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20A;*/
}

.sub1,
.sub2,
.sub3 {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  background-color: white;
  /*background-image: url('../images/banner-landingpage.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;*/
}

.sub3 {
  background-color: grey;
}

.sub1-img,
.sub2-img,
.sub3-img {
  display: flex;
  width: 35%;
  margin: 16px;
  height: auto;
  /*padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;*/
}

.sub1-img-mob,
.sub2-img-mob,
.sub3-img-mob {
  display: none;
}

/*.start-img .banner {
  display: flex;
  width: 100%;
  height: 636px;
}*/

.sub1-content,
.sub2-content,
.sub3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  height: auto;
  margin: 32px 0;
  margin-right: 32px;
  /*padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20A;*/
}

.sub1-header,
.sub2-header,
.sub3-header {
  display: flex;
  width: 100%;

}

.sub1-text
.sub2-text,
.sub3-text {
  display: flex;
  width: 100%;
}

.sub1-nav,
.sub2-nav,
.sub3-nav {
  display: flex;
  width: 100%;
}


.sub-head {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #4a4a4a;
  line-height: 1.4;
  margin: 8px 24px;
}

.sub-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #4a4a4a;
  margin: 8px 24px;
  line-height: 1.4;
}

.sub-nav {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: blue;
  margin: 8px 24px;
  line-height: 1.4;
}

@media only screen and (max-width: 760px) {

  .main-info {
    display: none;
  }

  .info-sub {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 32px 0px;
  }

  .sub1,
  .sub2,
  .sub3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: white;
  }

  .sub1-img,
  .sub2-img,
  .sub3-img {
    display: none;
  }

  .sub1-img-mob,
  .sub2-img-mob,
  .sub3-img-mob {
    display: flex;
    width: 100%;
    margin: 16px;
    height: auto;
  }

  .sub1-content,
  .sub2-content,
  .sub3-content {
    width: 100%;
    margin: 32px 0;
    margin-right: 32px;
  }

.sub-head {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #4a4a4a;
  line-height: 1.4;
  margin: 8px 24px;
}

.sub-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #4a4a4a;
  margin: 8px 24px;
  line-height: 1.4;
  }

.sub-nav {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: blue;
  margin: 8px 24px;
  line-height: 1.4;
  }

}

/* Main Courses container*/
.course-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  background-color: grey;
  padding-bottom: 16px;
}

/* Main info container*/
.course-header,
.thesis-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.head-style {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #4a4a4a;
  line-height: 1.4;
  margin: 32px 0 16px 0;
}

.course-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  padding: 0 54px;
}

.course-box {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 16px;
  background-color: white;
}

.box-img {
  display: flex;
  max-width: 100%;
  /*height: 634px;
  /*padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;*/
}

.box-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;
}


.h1-style {
  /*display: flex;
  width: 100%;*/
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #4a4a4a;
  margin: 16px 16px 0 16px;
}

.box-text {
  /*display: flex;
  width: 100%;*/
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: #4a4a4a;
  margin: 8px 16px 0 16px;
}

@media only screen and (max-width: 760px) {

  .course-main {
    background-color: white;
    padding-bottom: 16px;
    margin: 0 16px;
  }

  /* Main course header container*/
  /*.course-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }*/

  .course-content {
    flex-direction: column;
    /*justify-content: center;*/
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .course-box {
    /*display: flex;
    flex-direction: column;*/
    width: 100%;
    margin: 8px 0;
    background-color: grey;
  }

  .head-style {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: black;
    line-height: 1;
    margin: 32px 0 16px 0;
  }

  .box-content {
    background-color: grey;
    margin-bottom: 24px;
  }

  .h1-style {
    /*max-width: 100%;*/
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    color: #4a4a4a;
    margin: 16px 16px 0 16px;
  }

  .box-img {
    display: none;
  }

  .box-text {
    display: none;
    margin:0;
  }

}

/*Thesis Container*/

/* .thesis-section and t.thesis-header specified with .course-main and .course-header css*/

.thesis-section {
  display: flex;
  flex-direction: column;
  /*justify-content: center;
  align-items: center;*/
  max-width: 100%;
  /*height: auto;
  background-color: grey;*/
  padding-bottom: 16px;
}



/* Thesis Content container*/
.thesis-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

/* Main thesis container*/
.main-thesis {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 60%;
  margin: 32px 24px;
  height: auto;
}

.video {
  display: flex;
  width: 100%;
  /*height: 634px;
  /*padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;*/
}

.info-header {
  display: flex;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #4a4a4a;
  margin: 32px 24px 0 24px;
}


.info-text {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500;
  color: #4a4a4a;
  margin: 24px 24px 0 24px;
}


.thesis-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: auto;
  margin: 32px 0px;
  /*padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20A;*/
}


/*.info-text {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500;
  color: #4a4a4a;
  margin: 24px 24px 0 24px;
}



/*.start-button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.start-button .button {
  padding: 8px auto;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 30px;
  line-height: 1.4;
}*/
